body{
	background-color: black;
		background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.2)),url("/gamephotos/nbus.jpg");
}
.info{
	width: 320px;
	height: 200px;
	position: relative;
	/*background-color: rgba(0, 0, 0, .1);*/
	top: 150px;
	left:200px;
	/*background-color: rgba(255, 134, 202, 0.6);*/
	border-radius: 50px;
	
}
.info a{
	text-decoration: none;
	color: black;
}
.info li{
	position: relative;
	top: 10px;
	left: 25px;
	width: 200px;
	border: 1px solid black;
	margin-top: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 40px;
	box-sizing: border-box;
	border-radius: 20px;
	background-color: rgba(255, 197, 148, 1.0);
}